.card {
    width: 120px;
    height: 200px;
    border: 2px solid black;

    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0,5);
    border-radius: 8px;
    background-color: rgb(236, 184, 192);
}

.stat-list-item {
    /* Remove bullet points */
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.stat-list {
    margin: 0;
    padding: 8px 12px;
}

.pelialue {
    display: flex;
}

.play-button {
    width: 90px;
    height: 20px;
    align-self: center;
    font-size: medium;
    font-weight: bold;
}

.korttirivi {
    display: flex;
    margin: 0;
    padding: 0;
}

.korttirivi-kortti.pelaaja {
    margin-left: -96px;
}

.korttirivi-kortti.vastustaja {
    margin-right: -96px;
}